/* Plaats je CSS-code in dit bestand */

header {
    grid-area: header;
    border-width: 1px;
    border-style: solid;
    border-color: red;
}

nav {
    grid-area: nav;
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: red;
}

main {
    grid-area: main;
    border-width: 1px;
    border-style: solid;
    border-color: red;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        'header header header'
        'nav    main   main';
    grid-gap: 10px;
    padding: 10px;
}

#button-start {
    font-weight: bold;
}

#testscript{
    border-collapse: collapse;
    margin: 10px;
}

#testscript th,
#testscript td{
    border: 1px solid #000000;
    vertical-align: top;
    padding: 5px 10px 5px 10px;
}

#testscript ul{
    margin: 0;
}

#testscript li,
#testscript span{
    margin: 8px 0;
}

#testscript span{
    display: block;
    margin: 8px 0;
}

#documentation-link{
    position: fixed;
    bottom: 5px;
    right: 5px;
}