/* Plaats je CSS-code in dit bestand */

html {
  background-color: lightblue;
  /*background-image: linear-gradient(whitesmoke, lightblue);*/
}

header {
  grid-area: header;
  border-width: 1px;
  border-style: solid;
  border-color: red;
  /*display: flex;
  align-items: center;*/
  border-radius: 25px;
  text-align: center;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  background-image: linear-gradient(whitesmoke, lightblue);
}

nav {
  grid-area: nav;
  margin-top: 75px;
  margin-bottom: 75px;
  border-width: 1px;
  border-style: solid;
  border-color: red;
  /*display: flex;*/
  /*align-items: center;*/
  border-radius: 25px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}

main {
  grid-area: main;
  border-width: 1px;
  border-style: solid;
  border-color: red;
  /*display: flex;
  align-items: center;*/
  border-radius: 25px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}

ul {
  text-align: center;
  list-style-position: inside;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "header header"
    "nav main";
  grid-gap: 10px;
  padding: 10px;
}

.page-questions {
  margin-bottom: 47.61px;
}

#page-end {
  margin-bottom: 24.06px;
}

button {
  font-weight: bold;
}

#button-start {
  margin-top: 19.715px;
}

#button-questions {
  margin-top: 19.715px;
}

.button-ans {
  margin-top: 20px;
}

.score {
  font-size: x-large;
}

#documentation {
  background-color: cadetblue;
}

#images {
  text-align: center;
}

#center {
  text-align: center;
}

.testscript {
  border-collapse: collapse;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: auto;
  margin-bottom: 20px;
}

.testscript th,
.testscript td {
  border: 1px solid #000000;
  vertical-align: top;
  padding: 5px 10px 5px 10px;
}

.testscript ul {
  margin: 0;
}

.testscript li,
.testscript span {
  margin: 8px 0;
}

.testscript span {
  display: block;
  margin: 8px 0;
}

.documentation-link {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #04aa6d;
  text-align: center;
  line-height: 30px;
  color: white;
}

.live-score {
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 99%;
}
